/* Css da pagina Projetos */

.projetos h2 {
    text-align: center;
    color: var(--white);
}

.lista {
 display: flex;
 gap: 20px;
 padding-top: 90px;
}

.card {
    width: 350px;
    height: 350px;
    background: rgba(18, 18, 30, 0.6); /* fundo escuro translúcido */
    border-radius: 12px;
    border: 1px solid #8e2eff;
    box-shadow: 0 0 15px #8e2eff, 0 0 30px #ff00cc inset;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(10px);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #ff00cc, 0 0 40px #8e2eff inset;
}

.card h3 {
    color: var(--red);
    font-size: 1.8rem;
    text-shadow: 0 0 8px #7a6c78;
    margin-bottom: 10px;
}

.card p {
    color: #c2c2ff;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 0 0 6px #8e2eff;
}


.card_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_icones {
    display: flex;
    gap: 10px;
    color: var(--red);
    font-size: 1.5rem;
    margin-top: 30%;
}

.botao {
    width: 50px;
    height: 50px;
    border: 2px solid #8e2eff;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a2a;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #8e2eff, 0 0 20px #ff00cc inset;
    transition: all 0.3s ease;
    margin-top: 10%;
}

.botao:hover {
    background-color: #12003b;
    box-shadow: 0 0 15px #ff00cc, 0 0 30px #8e2eff, 0 0 10px #ff00cc inset;
    transform: scale(1.1);
}


/* Animações */
@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInTop {
  animation: slideInTop 1s ease forwards;
}

.slideInLeft {
  animation: slideInLeft 1s ease forwards;
}

.slideInRight {
  animation: slideInRight 1s ease forwards;
}

@media (max-width: 768px) {
  .lista {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card {
    width: 100%;
  }

  .card_footer {
    flex-direction: column;
    gap: 1rem;
  }

  .card_icones {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
