.footer {
    width: 100%;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    color: var(--white);
    font-size: 0.70rem; /* 18px */

    display: flex;
    align-items: center;
    justify-content: center;
}